@model YURent.ViewModels.Painel

@{ ViewData["Title"] = "Painel";
}

<div class="container-fluid container-md mt-5">
    <div class="row">
        <div class="col-12 col-md-4 col-lg-3 col-xl-2">
            <div class="text-center shadow">
                @* Info Utilizador *@
                <img id="avatar-painel" src="@Model.Utilizador.UrlImagemPerfil" />
                <p class=" text-center mt-2">@Model.Utilizador.Nome</p>
                <hr />
                <p>@Model.Utilizador.Email</p>
                <p>Cidade: Almada</p>
                @if (Model.Verificacao.Telemovel != null)
                {
                    <p>@Model.Verificacao.Telemovel</p>
                }
                <img id="star-painel" src="~/images/Stars/5-star.png" />
            </div>
        </div>
        <div class="col-12 col-md-8 col-lg-8 col-xl-9 mt-3 my-5 my-md-0">
            <div class="bg-orange text-white p-2 pl-4">
                <h3 class="font-weight-bold">Pendente Confirmação</h3>
            </div>
            @* Pendente Confirmação *@
            @foreach (var reserva in Model.Reservas)
            {
                if (reserva.Aceite == false && reserva.Data_inicio.CompareTo(DateTime.UtcNow) > 0)
                {
                    <div class="border d-flex justify-content-between align-items-center">
                        <a asp-controller="Anuncios" asp-action="Anuncio" asp-route-id="@reserva.Anuncio.Id_anuncio">
                            <img class="imagem-estado d-none d-md-flex" src="@reserva.Anuncio.UrlImagem" />
                        </a>
                        <div class="ml-2 ml-md-0">
                            <p class="m-0">@reserva.Anuncio.Título</p>
                            <p class="m-0">@reserva.Preco€</p>
                        </div>
                        <div>
                            <p class="m-0">Desde</p>
                            <p class="m-0">@reserva.Data_inicio.ToString("dd/MM/yyyy")</p>
                        </div>
                        <div>
                            <p class="m-0">Até</p>
                            <p class="m-0">@reserva.Data_fim.ToString("dd/MM/yyyy")</p>
                        </div>
                        <div class="d-flex mr-2">
                            <a asp-action="Aceitar" asp-route-id="@reserva.Id_reserva"><img class="imagem-aceitar" src="~/images/AceitaRecusa/aceitar.png" /></a>
                            <a asp-action="Recusar" asp-route-id="@reserva.Id_reserva"><img class="imagem-aceitar" src="~/images/AceitaRecusa/recusar.png" /></a>
                        </div>
                    </div>
                }
            }
            @* A decorrer *@
            <div class="bg-orange text-white p-2 pl-4 mt-3">
                <h3 class="font-weight-bold">Em progresso</h3>
            </div>

            @foreach (var reserva in Model.Reservas)
            {
                if (reserva.Aceite == true && reserva.Cancelado == false && reserva.Data_fim.CompareTo(DateTime.UtcNow) > 0)
                {
                    <div class="border d-flex justify-content-between align-items-center">
                        <a asp-controller="Anuncios" asp-action="Anuncio" asp-route-id="@reserva.Anuncio.Id_anuncio">
                            <img class="imagem-estado d-none d-md-flex" src="@reserva.Anuncio.UrlImagem" />
                        </a>
                        <div class="ml-2 ml-md-0">
                            <p class="m-0">@reserva.Anuncio.Título</p>
                            <p class="m-0">@reserva.Preco€</p>
                        </div>
                        <div>
                            <p class="m-0">Desde</p>
                            <p class="m-0">@reserva.Data_inicio.ToString("dd/MM/yyyy")</p>
                        </div>
                        <div>
                            <p class="m-0">Até</p>
                            <p class="m-0">@reserva.Data_fim.ToString("dd/MM/yyyy")</p>
                        </div>
                        <div class="mr-2">
                            <a asp-action="Index" asp-controller="Perfil" asp-route-id="@reserva.Utilizador.Id_utilizador" class="btn btn-orange text-white">Ver Perfil</a>
                        </div>
                    </div>
                }
            }


            @* Histórico *@
            <div class="bg-orange text-white p-2 pl-4 mt-3">
                <h3 class="font-weight-bold">Histórico</h3>
            </div>

            @foreach (var reserva in Model.Reservas)
            {
                if (reserva.Aceite == true && reserva.Cancelado == false && reserva.Data_fim.CompareTo(DateTime.UtcNow) < 0)
                {
                    <div class="border d-flex justify-content-between align-items-center">
                        <a asp-controller="Anuncios" asp-action="Anuncio" asp-route-id="@reserva.Anuncio.Id_anuncio">
                            <img class="imagem-estado d-none d-md-flex" src="@reserva.Anuncio.UrlImagem" />
                        </a>
                        <div class="ml-2 ml-md-0">
                            <p class="m-0">@reserva.Anuncio.Título</p>
                            <p class="m-0">@reserva.Preco€</p>
                        </div>
                        <div>
                            <p class="m-0">Desde</p>
                            <p class="m-0">@reserva.Data_inicio.ToString("dd/MM/yyyy")</p>
                        </div>
                        <div>
                            <p class="m-0">Até</p>
                            <p class="m-0">@reserva.Data_fim.ToString("dd/MM/yyyy")</p>
                        </div>
                        <div class="mr-2">
                            <a class="btn text-white" style="background-color: #39B697;">Finalizado</a>
                        </div>
                    </div>
                }
                else if (reserva.Aceite == true && reserva.Cancelado == true)
                {
                    <div class="border d-flex justify-content-between align-items-center">
                        <a asp-controller="Anuncios" asp-action="Anuncio" asp-route-id="@reserva.Anuncio.Id_anuncio">
                            <img class="imagem-estado d-none d-md-flex" src="@reserva.Anuncio.UrlImagem" />
                        </a>
                        <div class="ml-2 ml-md-0">
                            <p class="m-0">@reserva.Anuncio.Título</p>
                            <p class="m-0">@reserva.Preco€</p>
                        </div>
                        <div>
                            <p class="m-0">Desde</p>
                            <p class="m-0">@reserva.Data_inicio.ToString("dd/MM/yyyy")</p>
                        </div>
                        <div>
                            <p class="m-0">Até</p>
                            <p class="m-0">@reserva.Data_fim.ToString("dd/MM/yyyy")</p>
                        </div>
                        <div class="mr-2">
                            <a class="btn text-white" style="background-color: #FF6161;">Cancelado</a>
                        </div>
                    </div>
                }

            }
        </div>
    </div>
</div>