@model YURent.ViewModels.ReservasAnuncios

@{
    ViewData["Title"] = "Anuncio";
}

<div class="container mt-5">
    <div class="row mb-2">
        <h2 class="col-12 col-md-7">@Model.Título</h2>
    </div>
    <div class="row">
        <div class="col-12 col-md-7 m-0">
            <img class="d-block w-100 imagem-teste" src="@Model.UrlImagem" />
        </div>

        <div class="col-md-5 d-none d-md-block position-sticky">
            @* MENU LATERAL PARA ALUGAR *@
            <div class="card" style="position:fixed; width: 19rem;">
                <div class="card-body text-center">
                    <h5 class="card-title">Detalhes de Aluguer</h5>
                    <form asp-action="Reservar" method="post" class="form-group">
                        <input class="form-control" type="hidden" asp-for="Id_anuncio" />
                        <input type="hidden" asp-for="Utilizador.Id_utilizador" />
                        <label>Data</label>
                        <input class="form-control" type="date" asp-for="Data_inicio" />
                        <input class="form-control" type="date" asp-for="Data_fim" />
                        <label>Preço por dia</label>
                        <input class="form-control" asp-for="Preco_dia" readonly />
                        <label>Total</label>
                        <input class="form-control" asp-for="Total" readonly/>
                        @if (ViewBag.mensagem != "")
                        {
                        <label>@ViewBag.mensagem</label>
                        }
                        <input type="submit" value="Reservar" class="btn btn-orange-outline" />
                    </form>
                </div>
            </div>
        </div>

        <div class="col-12 col-md-7 d-block mt-2">

            <a asp-controller="Anuncios" asp-action="Guardados" asp-route-id="@Model.Id_anuncio" class="card-link btn btn-orange-outline">Guardar</a>

            <h3>Descrição</h3>
            <p class="text-grey">
                @Model.Descricao
            </p>
            <hr />
            @* LOCALIZAÇÃO *@
            <h3>Localização</h3>
            <p class="text-grey">
                @Model.Localizacao
            </p>
            <hr />
            @* FALA COM O SERAFIM *@
            <h3>Fala com @Model.Utilizador.Nome</h3>
            <div class="d-flex mt-2">
                <a asp-controller="Perfil" asp-action="Index" asp-route-id="@Model.Utilizador.Id_utilizador">
                    <img class="avatar-anuncio" src="@Model.Utilizador.UrlImagemPerfil" />
                </a>
                <div class="p-2">
                    <p class="font-weight-bold mb-0">@Model.Utilizador.Nome<i class="ml-1 fas fa-check-circle margin"></i></p>
                    <img class="star-anuncio" src="~/images/stars/5-star.png" /> (28)
                    <p>@Model.Utilizador.Descricao</p>
                </div>
            </div>
            <a asp-controller="Perfil" asp-action="Index" asp-route-id="@Model.Utilizador.Id_utilizador" class="btn btn-orange-outline">Ver Perfil</a>

            <hr />
        </div>
    </div>
</div>

<div class="container">
    @* Outros Produtos *@
    <h3>Outros produtos de @Model.Utilizador.Nome</h3>
    <div class="row mt-2">
        @foreach (var anuncio in @Model.Utilizador.AnunciosModel)
        {
        @if(Model.Id_anuncio != anuncio.Id_anuncio)
        {
        <div class="col-12 col-md-4">
            <div class="outrosprodutos mx-md-2">
                <img src="@anuncio.UrlImagem" id="imagem-anuncio" />
                <h5>@anuncio.Título</h5>
                <h4 class="orange">@anuncio.Preco_dia€ / Dia</h4>
                <p>@anuncio.Localizacao</p>
                <img class="star-produto" src="~/images/Stars/5-star.png" />
            </div>
        </div>
        }
        }
    </div>
</div>

<div class="d-block d-sm-none container-fluid fixed-bottom text-center border-top bg-light">
    <a href="#"><h3 class="btn btn-orange text-white display-4 m-2">Pedir para Alugar</h3></a>
</div>