
@model YURent.ViewModels.ReservasAnuncios

@{
    ViewData["Title"] = "Anuncio";
}

<div class="container mt-5">
    <div class="row mb-2">
        <h2 class="col-12 col-md-7">@Model.Título</h2>
    </div>
    <div class="row">
        <div class="col-12 col-md-7 m-0">
            <img class="d-block w-100 imagem-teste" src="@Model.UrlImagem" />
        </div>

        <div class="col-md-5 d-none d-md-block position-sticky">
            @* MENU LATERAL PARA ALUGAR *@
            <div class="card" style="position:fixed; width: 19rem;">
                <div class="card-body text-center">
                    <h5 class="card-title">Detalhes de Aluguer</h5>
                    <form asp-action="Reservar" asp-controller="Anuncios" method="post" class="form-group">
                        <input class="form-control" type="hidden" asp-for="Id_anuncio" />
                        <input type="hidden" asp-for="Utilizador.Id_utilizador" />
                        <label>Data</label>
                        <input class="form-control" type="date" id ="Data1" onchange="atualizarPreco();" asp-for="Data_inicio" />
                        <input class="form-control" type="date" id ="Data2" onchange="atualizarPreco();" asp-for="Data_fim" />
                        <label>Preço por dia: @Model.Preco_dia</label>
                        <label >Total: </label>
                        <label id="Total"></label>
                        <input class="form-control" name="Preco" id="TotalBD" />
                        <input type="submit" value="Reservar" class="btn btn-orange-outline" />
                    </form>
                </div>
            </div>
        </div>

        <div class="col-12 col-md-7 d-block mt-2">

            <a asp-controller="Anuncios" asp-action="Guardados" asp-route-id="@Model.Id_anuncio" class="card-link btn btn-orange-outline my-1">Guardar</a>

            <h3>Descrição</h3>
            <p class="text-grey">
                @Model.Descricao
            </p>
            <hr />
            @* LOCALIZAÇÃO *@
            <h3>Localização</h3>
            <p class="text-grey">
                @Model.Localizacao
            </p>
            <hr />
            @* FALA COM O SERAFIM *@
            <h3>Fala com @Model.Utilizador.Nome</h3>
            <div class="d-flex mt-2 mb-1">
                <a asp-controller="Perfil" asp-action="Index" asp-route-id="@Model.Utilizador.Id_utilizador">
                    <img class="avatar-anuncio" src="@Model.Utilizador.UrlImagemPerfil" />
                </a>
                <div class="p-2">
                    <p class="font-weight-bold mb-0">@Model.Utilizador.Nome<i class="ml-1 fas fa-check-circle margin"></i></p>
                    <img class="star-anuncio" src="~/images/stars/5-star.png" /> (28)
                    <p>@Model.Utilizador.Descricao</p>
                </div>
            </div>
            <a asp-controller="Perfil" asp-action="Index" asp-route-id="@Model.Utilizador.Id_utilizador" class="btn btn-orange-outline">Ver Perfil</a>

            <hr />
        </div>
    </div>
</div>

<div class="d-block d-sm-none container-fluid fixed-bottom text-center border-top bg-light">
    <a href="#"><h3 class="btn btn-orange text-white display-4 m-2">Pedir para Alugar</h3></a>
</div>

<script>
    function atualizarPreco() {

        var Data1 = Date.parse(document.getElementById('Data1').value);
        var Data2 = Date.parse(document.getElementById('Data2').value);
        
        var Total = (Data2 - Data1)/ 86400000;

        Total = ((Total * @Model.Preco_dia) * 1.15).toFixed(2);

        document.getElementById('Total').innerHTML = Total;
        document.getElementById('TotalBD').value = Total;
    }
</script>