@model IEnumerable<YURent.Models.AnunciosModel>
@{
    ViewData["Title"] = "Meus Anúncios";
}

<div class="container">
    <div class="row">
        <div class="col-12">
            <a class="btn btn-orange text-white mt-5" asp-controller="Anuncios" asp-action="AdicionarAnuncio">Adicionar Anúncio</a>
            @foreach (var anuncio in Model)
            {
                <div class="col-12 shadow p-2 mt-3 d-flex justify-content-between">
                    <div class="d-flex">
                        <a asp-controller="Anuncios" asp-action="Anuncio" asp-route-id="@anuncio.Id_anuncio">
                            <img src="@anuncio.UrlImagem" id="imagem-anuncio" />
                        </a>
                        <div class="d-block ml-2 align-self-center">
                            <h3 class="text-black">@anuncio.Título</h3>
                            <div class="d-flex mt-4">
                                <i class="fas fa-eye icon-orange"></i><p class="ml-1 mr-2 mr-md-4">512</p>
                                <i class="fas fa-heart icon-orange"></i><p class="ml-1 mr-2 mr-md-4">21</p>
                                <i class="fas fa-money-bill icon-orange"></i><p class="ml-1"> 100€</p>
                            </div>
                        </div>
                    </div>

                    <div class="justify-content-end align-self-center text-right mr-2">
                        <h5>@anuncio.Preco_dia€</h5>
                        <div class="d-flex">
                            <a asp-controller="Anuncios" asp-action="EditarAnuncio" asp-route-id="@anuncio.Id_anuncio"><i class="fas fa-pencil-alt icon-orange icon-orange-link mr-2"></i></a>
                            <a data-toggle="modal" data-target="#uploadModal"><i class="fas fa-trash-alt icon-orange icon-orange-link"></i></a>
                        </div>
                    </div>
                </div>

                <div id="uploadModal" class="modal fade" role="dialog">
                    <div class="modal-dialog">
                        <div class="modal-content">
                            <div class="modal-body text-center">
                                <p>Tens a certeza que quer eliminar o anúncio @anuncio.Título?</p>
                                <div class="d-flex text-center align-items-center">
                                    <a class="m-1 text-white btn btn-orange" asp-controller="Anuncios" asp-action="EliminarAnuncio" asp-route-id="@anuncio.Id_anuncio">Sim</a>
                                    <a class="m-1 text-white btn btn-orange" asp-controller="Anuncios" asp-action="MeusAnuncios" asp-route-id="@anuncio.Id_anuncio">Não</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            }
        </div>
    </div>
</div>
